.img{
    width: 60%;
    margin-left: 20%;
}
.alert-danger{
  color:red;
}
.fade-in-button{
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
}
