.delete {
  background: red;
  padding: 10px 15px;
  margin-left: 20px;
}
.prim{
  padding: 17px 15px;
}

.option{
  width: 70%
}
.pick{
  margin-left: 3%;
}
.delete{
  color:red;
  color: white;
padding: 5px;
}
.btn{
  cursor: pointer;
}
